.header {
  background: #fff;
  width: 100%;
}

a {
  text-decoration: none;
  color: #67696c;
}

a:hover,
a:active {
  color: black;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-caption {
  display: inline-block;
  padding-left: 6px;
}

.mat-toolbar-single-row {
  overflow: hidden;
  background-color: #fff;
  top: 0;
  width: 100%;
}
